.contents {
  width: 100vw;
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.box1 {
  width: 90%;
  height: 10%;
  background-color: gray;
}
.boxMain {
  width: 90%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box2 {
  width: 40%;
  height: 100%;
  background-color: gray;
}
.box3 {
  width: 90%;
  height: 20%;
  background-color: gray;
}

.box4 {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box5 {
  width: 100%;
  height: 40%;
  background-color: gray;
}
.box6 {
  width: 100%;
  height: 40%;
  background-color: gray;
}
.box7{
    width: 90%;
    height: 10%;
    background-color: gray;
  }