* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .contend {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 50px 50px 90px ;
    grid-template-rows: 50px 90px 60px 50px; */
    grid-template-rows: repeat(4,50px);
    /* grid-template-columns: repeat(4,50px); */
    grid-template-columns: 10px repeat(2,50px) 100px;
    row-gap: 20px;
    column-gap: 20px;
  }
  .contend div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .red{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row-start: 1;
    grid-row-end: 3;
  }