<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Food item</title>
</head>
<body>
<h1><a href="https://foodviva.com/snacks-recipes/pani-puri/" target="blank">pani patashe</a></h1>
<img src="https://static.toiimg.com/thumb/61048461.cms?imgsize=1981854&width=509&height=340" alt="pani-puri" width="100" height="100   ">
<h2>chole bature</h2>
<h3>poha jalbi</h3>
<h4>sev tamatar</h4>
<h5>pizza</h5>
<h6>bolied chicken</h6>

</body>
</html>