<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP Page</title>
    <link rel="stylesheet" href="./CSS/signUpCss.css" type="text/css" />
  </head>
  <body style="background-color: skyblue">
    <div class="round">
      <form>
        <h1>Sign in to your account</h1>
        <label for="email"><b>Email</b></label
        ><br />
        <input
          type="email"
          placeholder="Enter Email"
          name="email"
          required
          class="inputbox"
        />
        <br />
        <label for="psw"><b>Password</b></label>
        <a href="" style="margin-left: 30%; text-decoration: none"
          >Forgot your password?</a
        >
        <br />
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
          class="inputbox"
        /><br />
        <label>
          <input
            type="checkbox"
            checked="checked"
            name="remember"
            style="margin-bottom: 15px"
          />Stay signed in for a week
        </label>
        <br />
        <button type="submit" class="signupbtn">Continue</button>
        <p style="text-align: center">
          <a
            href="#"
            style="color: rgba(94, 42, 216, 0.863); text-decoration: none"
            >Use single sign-on (Google) instead</a
          >.
        </p>
      </form>
    </div>
  </body>
</html>
